@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Arial, sans-serif;
}

body {

    background-color: #000;
    color: #fff;
    min-height: 100vh;
    padding: 0 1rem;

    display: grid;
    grid-template-columns: 220px 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "navbar navbar"
    "sidebar main"
    "sidebar footer";
}

nav {

    grid-area: navbar;
    position: sticky;
    top: 0;
}

aside {

    grid-area: sidebar;
    position: sticky;
    top: 59.19px;
    align-self: start;
    height: calc(100vh - 59.19px);
}

main {

    grid-area: main;
}

footer {

    grid-area: footer;
}


/* NAVBAR */

nav {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.6rem 0.8rem;
}

.nav-logoArea {

    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1.2rem;

    font-size: 1.2rem;
}

.nav-logoArea div:nth-child(2) {

    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.24rem;
}

.nav-searchArea {

    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 12px;
    margin: 0 40px;
    width: 560px;
}

.nav-searchArea div:first-child {

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.searchBar {

    width: 100%;
    height: 40px;
    font-size: 16px;
    background-color: #ffffff0d;
    color: #fff;
    border: solid 1px #363636;
    border-radius: 40px 0 0 40px;
    border-right: none;
    outline: none;
    padding: 0 1px 0 16px;
}

.searchButton {

    height: 40px;
    width: 64px;
    border-left: none;
    border: solid 1px #363636;
    background-color: #242424;
    color: #ebebeb;
    cursor: pointer;
    border-radius: 0 40px 40px 0;
}

.voiceSearchButton {

    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    background-color: #242424;
    color: #ebebeb;
    cursor: pointer;
}

.nav-profileArea {

    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 32px;
    font-size: 1.2rem;
}

/* SIDEBAR */

aside {

    padding: 0.6rem 0;
}

.sidebarDivIcon {

    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 8px;
    column-gap: 1rem;
}

.sidebarDiv {
    
    border-radius: 10px;
    padding: 0.6rem 0.8rem;
    cursor: pointer;
}

.sidebarDiv:hover {

    background-color: #292929d8;
}

hr {

    margin: 1rem 0;
    width: 100%;
    border: solid 1px #363636d8;
}

aside img {

    height: auto;
    width: 24px;
    border-radius: 50%;
}

